a{
    text-decoration: none;
}

body{
    background-color: rgb(104, 104, 243);
}
footer
{
    text-align: center;
    background-color: white;
    padding: 20px;
}
.giamgia{
    text-decoration: line-through;
    opacity: 50%;
}